body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
}


:root[data-theme="light"] {
  --text: #112105;
  --background: #f9fef6;
  --primary: #6fdc26;
  --secondary: #7eea9f;
  --accent: #5fe5a2;
}
:root[data-theme="dark"] {
  --text: #ebfae0;
  --background: #040901;
  --primary: #6bd723;
  --secondary: #157f35;
  --accent: #1a9e5c;
}